* {
    border: 1px solid red;
}

main {
    /* display: grid;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; */
}

section {
    width:100px;
    height:100px;
    display: flex;
}